In [2]:
import json
import jieba

In [3]:
train_file1 = '../data/sogou_ccir/train.1.json'
with open(train_file1, 'r', encoding='utf-8') as f:
    data = [json.loads(line) for line in f.readlines()]

In [4]:
train_data = []
for query in data:
    for text in query['passages']:
        train = [query['query_id'], query['query'], text['passage_id'], text['passage_text'], text['label']]
        train_data.append(train)

In [8]:
import pandas as pd
train = pd.DataFrame(train_data, columns=['query_id', 'query', 'passage_id', 'passage_text', 'label' ])

In [9]:
train.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>query_id</th>
      <th>query</th>
      <th>passage_id</th>
      <th>passage_text</th>
      <th>label</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000</td>
      <td>108颗佛珠的含义</td>
      <td>1</td>
      <td>念珠，又称佛珠、数珠，主要是指一些宗教在祈祷、歌颂、念经、念咒或灵修时所用的物品，一般在各种...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10000</td>
      <td>108颗佛珠的含义</td>
      <td>2</td>
      <td>慈悲是你最好的武器。&lt;br&gt;学佛就是在学做人而已。&lt;br&gt;沈默是毁谤最好的答覆。&lt;br&gt;你要...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10000</td>
      <td>108颗佛珠的含义</td>
      <td>3</td>
      <td>现在有很多人带佛珠，说起来并不是真的信佛，而是看到不少演艺界的明星带，觉得这是一种时尚，所以...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10000</td>
      <td>108颗佛珠的含义</td>
      <td>4</td>
      <td>佛珠的粒数各有其义：1080粒，是包括了十法界的各108个数；108粒，是表示单纯的108种...</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10000</td>
      <td>108颗佛珠的含义</td>
      <td>5</td>
      <td>1.慈悲是你最好的武器。&lt;br&gt;　　2. 学佛就是在学做人而已。&lt;br&gt;　　3. 沈默是毁谤...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
train.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>query_id</th>
      <th>passage_id</th>
      <th>label</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>40813.000000</td>
      <td>40813.000000</td>
      <td>40813.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>12259.132972</td>
      <td>5.006640</td>
      <td>1.010732</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1316.761688</td>
      <td>2.653118</td>
      <td>0.982964</td>
    </tr>
    <tr>
      <th>min</th>
      <td>10000.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>11113.000000</td>
      <td>3.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>12256.000000</td>
      <td>5.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>13392.000000</td>
      <td>7.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>14576.000000</td>
      <td>20.000000</td>
      <td>2.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
import jieba

In [13]:
jieba_train = []
for text in train[['query', 'passage_text']].values:
    jieba_train.append(jieba.lcut(text[0]+text[1], cut_all=False))

In [30]:
with open('../data/sogou_ccir/jieba_train.csv', 'w', encoding='utf-8') as f:
    for data in jieba_train:
        f.write(",".join(data))

In [1]:
import word2vec